
.contests-table-outer{
    width: 90vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Poppins";
}

.contests-table-title-outer{
    width: 100%;
    height: 50px;
    background-color: #161719;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 350;
}

.contests-list-outer{
    width: 100%;
    margin-top: 5px;
}

.contests-tile-outer{
    width: 100%;
    height: 80px;
    background-color: #161719;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 2px;
    margin-bottom: 5px;
}
.centered-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contest-tile-name{
    width: 25%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
}
.contest-tile-divider{
    width: 4px;
    height: 80%;
    border-radius: 100px;
    background-color: #222629;
    
}

.contest-tile-start-outer{
    width: 12%;
    height: 100%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
}
.contest-tile-block{
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contest-tile-block-title{
    font-size: 14px;
    color: rgb(212, 212, 212);
}
.contest-tile-start-date{
    font-size: 16px;
}
.contest-tile-start-time{
    font-size: 16px;
}
.contest-tile-duration-outer{
    width: 12%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
}
.contest-tile-duration-duration{
    font-size: 16px;
}
.contest-tile-editorial{
    width: 10%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    color: rgb(212, 212, 212);
}
.contest-tile-virtual-outer{
    width: 15%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
}
.contest-tile-virtual-btn{
    width: 90%;
    padding: 3px;
    background-color:  #222629;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgb(44, 44, 44);
}
.contest-tile-action-outer{
    width: 10%;
    /* background-color: rgb(41, 41, 41); */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    flex-grow: 1;
}
.contest-tile-action-btn{
    width: 90%;
    padding: 3px;
    background-color:  #222629;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgb(44, 44, 44);
}

.is-template{
    display: none;
}